@import 'tailwindcss';  




/*
@tailwind base;
@tailwind components;
@tailwind utilities;

section,
article {
  @apply prose;
}

When I ran this I kept getting:

****
    Error: Cannot apply unknown utility class `prose`. Are you using CSS modules or similar and missing `@reference`? https://tailwindcss.com/docs/functions-and-directives#reference-directive
    [at onInvalidCandidate (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:21:1314)]
    [at Te (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:16:36011)]
    [at /workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:21:355]
    [at Tr (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:3:1718)]
    [at _ (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:3:1377)]
    [at Se (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:21:172)]
    [at ln (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:38:294)]
    [at process.processTicksAndRejections (node:internal/process/task_queues:105:5)]
    [at async sn (/workspaces/next-demo/node_modules/@tailwindcss/node/node_modules/tailwindcss/dist/lib.js:38:631)]
    [at async Zr (/workspaces/next-demo/node_modules/@tailwindcss/node/dist/index.js:10:3385)]
 ○ Compiling / ...
 ⨯ ./src/app/globals.css
Error evaluating Node.js code
CssSyntaxError: tailwindcss: /workspaces/next-demo/src/app/globals.css:1:1: Cannot apply unknown utility class `prose`. Are you using CSS modules or similar and missing `@reference`? https://tailwindcss.com/docs/functions-and-directives#reference-directive
    [at Input.error (turbopack:///[project]/node_modules/postcss/lib/input.js:135:16)]
    [at Root.error (turbopack:///[project]/node_modules/postcss/lib/node.js:146:32)]
    [at Object.Once (/workspaces/next-demo/node_modules/@tailwindcss/postcss/dist/index.js:10:6912)]
    [at process.processTicksAndRejections (node:internal/process/task_queues:105:5)]
    [at async LazyResult.runAsync (turbopack:///[project]/node_modules/postcss/lib/lazy-result.js:293:11)]
    [at async transform (turbopack:///[turbopack-node]/transforms/postcss.ts:70:34)]
    [at async run (turbopack:///[turbopack-node]/ipc/evaluate.ts:92:23)]

Import trace:
  Client Component Browser:
    ./src/app/globals.css [Client Component Browser]
    ./src/app/layout.js [Server Component]


 GET / 500 in 5.2s (compile: 5.1s, render: 135ms)
*****  

*/